@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}


.link__game {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
    color: #fff;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: #fff;
    }

    &:focus {
        outline: none;
    }

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    gap: 2rem;
    grid-column: auto;
    justify-content: center;
}

.card {
    overflow: hidden;
    box-shadow: 0 2px 30px #666666;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    color: #000;

    &__image {
        height: 12rem;
        width: 100%;
        object-fit: cover;
    }

    &__title {
        padding: 1rem;
    }

    &:hover {
        transform: scale(1.03);
    }
}