@import url("https://fonts.googleapis.com/css?family=Oxygen:wdth@300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 2rem;
}

.main_menu {
    align-items: center;
    margin-bottom: 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    gap: 2rem;
    justify-content: center;
}

.card {
    overflow: hidden;
    font-style: italic;
    box-shadow: 0 2px 30px #666666;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;

    &__image {
        height: 12rem;
        width: 100%;
        object-fit: cover;
    }

    &__title {
        padding: 1rem;
    }

    &:hover {
        transform: scale(1.03);
    }

}